################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModbusAsciiMaster/bin/Debug
/ModbusAsciiMaster/obj/Debug
/ModbusAsciiSlave/bin/Debug
/ModbusAsciiSlave/obj/Debug
